<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Welcome to the admin dashboard!</h1>


        <form method="GET" action="/admin/manage_admins">
            <p><button type="submit">Manage Admins</button></p>
        </form>

        <form method="GET" action="/admin/create_order">
            <p><button type="submit">Create Order</button></p>
        </form>

        <form method="GET" action="/admin/manage_order_invoice">
            <p><button type="submit">Manage Orders and Invoices</button></p>
        </form>

        <form method="GET" action="/admin/edit_orders_dash">
            <p><button type="submit">Edit Orders</button></p>

        </form>

        <form method="GET" action="/admin/stock_control">
            <p><button type="submit">Stock Control</button></p>
        </form>
 

        <form method="POST" action="/homepage/admin/logout">
            <p><button type="submit">Logout</button></p>
        </form>

        


        
        
        
        
        
    </body>
</html>