<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    </head>
    <body>
        <h1>Order Creator</h1>
        <h3>Please enter in the order details</h3>
        <h4>This will be used to auto-generate an invoice</h4>

        <form method="POST" action="/admin/create_order" id="customer_order">
            <p>Customer Name</p>
            <input type="text" placeholder="Enter here" id="c_name" name="c_name" value="{{order.customer_name}}">

            <p>Customer Address</p>
            <input type="text" placeholder="Enter here" id="c_address" name="c_address" value="{{order.customer_address}}">
            
            <p>Order Date</p>
            <input type="date" id="o_date" name="o_date" value="{{order.order_date}}">

            <p>
                <label for="status">Status</label><br><br>
                <select name="status" id="status">
                    <option {%if order.order_status == "Awaiting-Payment" %}selected{%endif%}>
                        Awaiting Payment
                    </option>
                    <option {%if order.order_status == "Completed" %}selected{%endif%}>
                        Completed
                    </option>
                </select>
            </p>
                
                
            <p>Product Type</p>
            <input type="text" placeholder="Enter here" id="p_type" name="p_type" value="{{order.product_type}}">

            <p>Product ID</p>
            <input type="text" placeholder="Enter here" id="p_id" name="p_id" value="{{order.product_id}}">

            <p>Quantity Ordered</p>
            <input type="number" placeholder="Enter here" id="q_ordered" name="q_ordered" value="{{order.quantity_ordered}}">

            <p><button type="submit">Create order</button></p>
        </form>
        <form method="GET", action="/admin/create_order">
            <button type="submit">Clear</button>
        </form>
        

        

        <p>Total: {{total}}</p>

        <h3 id="error_box"></h3>

    </body>
</html>