<!DOCTYPE html>
<html>
    <head>
        <link href="{{url_for("static", filename="CSS/styles.css")}}" rel="stylesheet"/>

    </head>
    <body>
        <a href="/homepage/admin"><button><img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" height="50" width="50"></button></a>
        <div id="ordr_invce_table">
            <table>
                <tr>
                    <th>Business Details</th><th>Order Actions</th>
                </tr>
                    {%for business in data%}
                        <tr>
                            <td><b>Business:</b> {{business[0].title()}}<br><b>Business ID:</b> {{business[1]}}</td>
                            <td><a href="{{url_for('view_order', business_id=business[1])}}">View Orders</a><br><a href="">Edit Orders</a></td>
                        </tr>
                        
                    {%endfor%}

                

            </table>
        </div>
    </body>
</html>