<!DOCTYPE html>
<html>
    <head>
        <link href="{{url_for("static", filename="CSS/styles.css")}}" rel="stylesheet"/>
        <title>Products Page</title>
    </head>
    <body>
        <a href="/homepage"><button><img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" height="50" width="50"></button></a>
        <h1>Welcome to products page</h1>
        
        <form method="POST" action="/products">
            <input type="text" placeholder="Search" id="search" name="search"><br><br>
            <label for="search"></label>
            

            <label for="filters">Filter: </label>
            <select name="filter" id="filter">
                    <option value="H2LPrice">Highest to Lowest Price</option>
                    <option value="L2HPrice">Lowest to Highest Price</option>
                    <option value="H2LName">Highest to Lowest Name</option>
                    <option value="L2HName">Lowest to Highest Name</option>
                    <option value="H2LStock">Highest to Lowest Stock</option>
                    <option value="L2HStock">Lowest to Highest Stock</option>
                    <option value="H2LID">Highest to Lowest ID</option>
                    <option value="L2HID">Lowest to Highest ID</option>

            </select>
            <br><br>
            
            <button type="submit" accesskey="enter">Search</button>

        </form>
        
        <div id="product-table">
            <table>
                <tr>
                    <th>ID</th><th>Name</th><th>Category</th><th>SKU</th><th>Price</th><th>Stock Qty</th>
                </tr>
                
                {%for product in products%}
            
                    <tr>
                        <td>{{product['ID']}}</td>
                        <td>{{product['Name']}}</td>
                        <td>{{product['Category']}}</td>
                        <td>{{product['SKU']}}</td>
                        <td>{{product['Price']}}</td>
                        <td>{{product['Stock']}}</td>
                    </tr>
                        
                
                {%endfor%}
            </table>
        </div>
        
    </body>
</html>