body { 
    background: rgb(50, 50, 50);
    padding : 20px;
}

.page {
    width : 210mm;
    min-height : 297mm;
    padding : 20mm;
    background: white;
    margin: auto;
    box-shadow: black 0 10px;
}

.top_page {
    display: flex;
    justify-content: space-between;
}

hr { 
    height : 3px;
    background : black;

}


#company_details { 
    text-align: left;
}

#user_company_details {
    text-align: right;
}

table {
    table-layout: fixed;
    width: 100%;
}




#table_id {
    text-align: left; 
    width: 20%
}

#table_name {
    text-align: left; 
    width: 60%;
}

#table_qty {
    text-align: left; 
    width : 20%;
}

@media print { 
    body { 
        background: None;
        padding : 0;
        margin: 0;
    }

    .page { 
        width : 210mm;
        min-height: 297mm;
        margin: 0;
        padding : 20mm;
        box-shadow: None;
    }
}

@page {
    size: A4;
    margin: 0;
}


