<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Warehouse Management System</title>

    </head>
    <body>
        <img src="{{ url_for('static', filename='images/warehouse-icon.webp') }}" alt="warehouse-icon" width="250" height="200">
        <h1>
            Warehouse Managament System
        </h1>
        <h2>
            Enter details Below:
        </h2>
        <form method="POST" action="/">
            <p>
                <label for="user">Username:</label><br>
                <input type="text" id="user" name="username">

            </p>
            

            <p>
                <label for="pass">Password:</label><br>
                <input type="password" id="pass" name="password">
            </p>
            <button type="submit">Login</button>
        </form>
        <p>
            <h3>Don't have an account?</h3>
                <a href="/register-user"><button type="submit">Sign Up</button></a>
        </p>
        
            
        <div>
            <h4>
                About Us
            </h4>
            <p>
                    I am a young and aspiring developer hoping to make some cool and interesting projects, that's all there is to it
                    check out the <a href="https://github.com/spolak223">Github</a> here though: 
                </p>
        </div>    
            
    </body>
</html>