<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
       <h1>Register</h1>
       <form action="/register-user" method="POST">
        <p>
            <label for="username">
                Username:
            </label><br>
            <input type="text" id="user" name="username">
        </p>
        <p>
            <label for="password">
                Password:
            </label><br>
            <input type="password" id="pass" name="password">
        </p>
        <p>
            <label for="conf-password">
                Confirm Password:
            </label><br>
            <input type="password" id="pass" name="conf-password">
        </p>

        <button type="submit">Register</button>
            

            

       </form> 
    </body>
</html>